In [1]:
import pandas as pd

In [3]:
train = pd.read_csv(".data/train.csv", sep=";")

In [6]:
train.head(10)

           sample                              annotation
0              aa                           [(0, 2, 'O')]
1            aala                           [(0, 4, 'O')]
2          aarcca                           [(0, 6, 'O')]
3            abon                           [(0, 4, 'O')]
4            abso                     [(0, 4, 'B-BRAND')]
5    abtoys игруш  [(0, 6, 'B-BRAND'), (7, 12, 'B-TYPE')]
6   abtoys игрушк  [(0, 6, 'B-BRAND'), (7, 13, 'B-TYPE')]
7  abtoys игрушки  [(0, 6, 'B-BRAND'), (7, 14, 'B-TYPE')]
8           acofe                           [(0, 5, 'O')]
9         actimal                     [(0, 7, 'B-BRAND')]

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27251 entries, 0 to 27250
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sample      27251 non-null  object
 1   annotation  27251 non-null  object
dtypes: object(2)
memory usage: 425.9+ KB

In [18]:
import re
from dataclasses import dataclass
from typing import List

@dataclass
class Token:
    text: str
    start: int  # индекс начала (включительно)
    end: int    # индекс конца (исключительно)

_TOKEN_RE = re.compile(r"\S+")

def tokenize_with_offsets(text: str) -> List[Token]:
    """'абрикосы 500г' -> [Token('абрикосы',0,8), Token('500г',9,12)]"""
    return [Token(m.group(0), m.start(), m.end()) for m in _TOKEN_RE.finditer(text or "")]

In [19]:
tokenize_with_offsets("армотизатор 66fg")

[Token(text='армотизатор', start=0, end=11),
 Token(text='66fg', start=12, end=16)]